@use "@/app/styles/colors.scss" as *;
@use "@/app/styles/sizes.scss" as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus-visible {
    outline: 1px solid $neutral-200;
  }
}

* {
  font-family: var(--nunito-font);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  transition:
    color $transition,
    opacity $transition;
}

svg,
svg path,
svg g,
svg g path,
path {
  transition: all $transition;
}

html {
  background-color: $neutral-1000;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }

  &::selection {
    background-color: $neutral-200;
    color: $neutral-100;
  }
}

body {
  justify-content: center;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform $transition;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}
